<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.data-container {
    max-width: 600px;
    margin: 0 auto;
}


form {
    display: flex;
    align-items: center;
}

input[type="text"],
input[type="number"],
input[type="email"] {
    flex: 1;
    padding: 8px;
    margin-right: 8px;
}

button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
@media only screen and (max-width: 600px) {
            table {
                font-size: 14px;
            }

            th, td {
                padding: 6px;
            }

            input[type="text"],
            input[type="number"],
            input[type="email"] {
                padding: 6px;
                width: 100%;
                margin-bottom: 8px;
            }
             button {
                padding: 6px 12px;
            }

            /* Center form elements vertically */
            form {
                flex-wrap: wrap;
                justify-content: center;
            }

            form input,
            form button {
                flex: 1;
            }
}

    </style>
    <title>measurements</title>
</head>
<body>
<div id="data-container">

            
        
</div>
 <table>
        <thead>
            <tr>
                <th>Gender</th>
                <th>cloth Owner name</th>
                <th>chest</th>
                <th>Waist</th>
                <th>Hips</th>
                <th>neck to waist</th>
                <th>waist_down_to_desired_lenght</th>
                <th>laps</th>
                <th>wrist</th>
                <th>ankle</th>
                <th>shoulders</th>
                <th>neck</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody id="table">
           
        </tbody>
    </table>
<p id='error' style='color: red;'></p>
          <form id="add-form">
            <input type="text" id="gender" placeholder="gender">
            <input type="text" id="cloth_Owner_name" placeholder="cloth Owner name">
            <input type="number" id="chest" placeholder="chest">
            <input type="number" id="Waist" placeholder="Waist">
            <input type="number" id="Hips" placeholder="Hips">
            <input type="number" id="neck_to_waist" placeholder="neck to waist">
            <input type="number" id="waist_down_to_desired_lenght" placeholder="waist down to desired lenght">
            <input type="number" id="laps" placeholder="laps">
            <input type="number" id="wrist" placeholder="wrist">
            <input type="number" id="ankle" placeholder="ankle">
            <input type="number" id="shoulders" placeholder="shoulders">
            <input type="number" id="neck" placeholder="neck">
            <label for="file-upload" class="custom-file-upload">
            <i class="fas fa-cloud-upload-alt"></i> Choose image
        </label>
        <input type="file" id="file-upload" accept=".jpg, .jpeg, .png, .pdf" />
            <button id="submit_measurement" type="submit">Add Data</button>
        </form>
</body>
<script>
    const container = document.getElementById('data-container');
    const storedToken = localStorage.getItem('authToken');
    const parsedToken = JSON.parse(storedToken);
    const gender = document.getElementById('gender')
    const cloth_Owner_name = document.getElementById('cloth_Owner_name')
    const chest = document.getElementById('chest')
    const Waist = document.getElementById('Waist')
    const Hips = document.getElementById('Hips')
    const neck_to_waist = document.getElementById('neck_to_waist')
    const waist_down_to_desired_lenght = document.getElementById('waist_down_to_desired_lenght')
    const laps = document.getElementById('laps')
    const wrist = document.getElementById('wrist')
    const ankle = document.getElementById('ankle')
    const shoulders = document.getElementById('shoulders')
    const neck = document.getElementById('neck')
    const submit_measurement = document.getElementById('submit_measurement')
    const error = document.getElementById('error');
    const file_upload = document.getElementById('file-upload')
    const table = document.getElementById('table')

    function fetchDataFromAPI() {
    // Replace 'your_api_url' with the actual URL of the API you want to fetch from
    fetch('http://localhost:3333/measurement/', {
        headers: {
                'Authorization': `Bearer ${parsedToken}`
            }
    })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            return response.json();
        })
        .then(data => {
            if (data.length === 0) {
                container.innerHTML = 'No measurements found. Click the add button to add data.';
            } else {
                data.forEach(item => {
            const dataRow = document.createElement("tr");
            const dataCell1 = document.createElement("td");
            const dataCell2 = document.createElement("td");
            const dataCell3 = document.createElement("td");
            const dataCell4 = document.createElement("td");
            const dataCell5 = document.createElement("td");
            const dataCell6 = document.createElement("td");
            const dataCell7 = document.createElement("td");
            const dataCell8 = document.createElement("td");
            const dataCell9 = document.createElement("td");
            const dataCell10 = document.createElement("td");
            const dataCell11 = document.createElement("td");
            const dataCell12 = document.createElement("td");
            const dataCell13 = document.createElement("td");

            dataCell1.textContent = item.gender;
            dataCell2.textContent = item.cloth_Owner_name;
            dataCell3.textContent = item.chest;
            dataCell4.textContent = item.Waist;
            dataCell5.textContent = item.Hips;
            dataCell6.textContent = item.neck_to_waist;
            dataCell7.textContent = item.waist_down_to_desired_lenght;
            dataCell8.textContent = item.laps;
            dataCell9.textContent = item.wrist;
            dataCell10.textContent = item.ankle;
            dataCell11.textContent = item.shoulders;
            dataCell12.textContent = item.neck;
            {{!-- dataCell13.textContent = item.; --}}

            dataRow.appendChild(dataCell1);
            dataRow.appendChild(dataCell2);
            dataRow.appendChild(dataCell3);
            dataRow.appendChild(dataCell4);
            dataRow.appendChild(dataCell5);
            dataRow.appendChild(dataCell6);
            dataRow.appendChild(dataCell7);
            dataRow.appendChild(dataCell8);
            dataRow.appendChild(dataCell9);
            dataRow.appendChild(dataCell10);
            dataRow.appendChild(dataCell11);
            dataRow.appendChild(dataCell12);
            dataRow.appendChild(dataCell13);

            table.appendChild(dataRow)
            });             
                     }
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
}
    
document.addEventListener('DOMContentLoaded', () => {
    fetchDataFromAPI();
});
submit_measurement.addEventListener('click', async(e) =>{
    e.preventDefault();
    

            const formData = new FormData();
        await formData.append('gender', gender.value);
        await formData.append('cloth_Owner_name', cloth_Owner_name.value);
        formData.append('chest', chest.value);
        formData.append('Waist', Waist.value);
        formData.append('Hips', Hips.value);
        formData.append('neck_to_waist', neck_to_waist.value);
        formData.append('waist_down_to_desired_lenght', waist_down_to_desired_lenght.value);
        formData.append('laps', laps.value);
        formData.append('wrist', wrist.value);
        formData.append('ankle', ankle.value);
        formData.append('shoulders', shoulders.value);
        formData.append('neck', neck.value);

                const fileInput = document.getElementById('file-upload');
        // Get the selected file (if any)
        const file = fileInput.files[0];
        // Append the file to the formData
        if (file) {
            formData.append('file', file);
        }
    try{
        console.log(formData)
        const response = await fetch('http://localhost:3333/measurement/addmeasurement',{
            method: 'POST',
            headers: {
                'Authorization': `Bearer ${parsedToken}`
            },
            body:formData
            
        })
        console.log(response)
        if(response.status !==200){
        const data = await response.json();
        error.innerText = `creating measurement error: ${data.message}`; // Assuming the server sends the error message in a "message" field
        return; 
        }

        fetchDataFromAPI();
    }catch(error){
        error.innerText = `reating measurement error: ${error.message}`;
    console.error('reating measurement error:', error);
    }
})
    
</script>
</html>