<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    text-align: center;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-title {
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
}

.login-label {
    margin-top: 10px;
    font-size: 16px;
}

.login-input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #0056b3;
}

.reset-password-link {
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
}

.reset-password-link:hover {
    text-decoration: underline;
}

    </style>
    <title>Login</title>
</head>
<body>
    <div class="container">
        <h1 class="login-title">Login</h1>
        <form action="/auth/signin" method="post" id="loginForm">
            <label for="email" class="login-label">Email:</label>
            <input type="text" id="email" name="email" class="login-input" placeholder="Enter your email" required>

            <label for="password" class="login-label">Password:</label>
            <input type="password" id="password" name="password" class="login-input" placeholder="Enter your password" required>
<p id='error' style='color: red;'></p>
            <button type="submit" class="login-btn">Login</button>
        </form>
        <a href="/auth/reset-password" class="reset-password-link">Forgot Password?</a>
    </div>
    <script>
        const form = document.getElementById('loginForm');
const userEmail = document.getElementById('email');
const userPassword = document.getElementById('password');
    const error = document.getElementById('error');

    form.addEventListener('submit', async (event) => {
  event.preventDefault();

  try {
    console.log(userEmail.value);
    const response = await fetch('/auth/signin', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json', // Set the content type to JSON
      },
      body: JSON.stringify({
        email: userEmail.value,
        password: userPassword.value,
      }),
    });
    if (response.status !== 200) {
      const data = await response.json();
      error.innerText = `Sign-in error: ${data.message}`; // Assuming the server sends the error message in a "message" field
      return; // Stop the execution here, so the href won't change
    }
    const data = await response.json();
    const token = data.token;
localStorage.setItem('authToken',JSON.stringify(token) );


      
      window.location.href = '/measurement/home'; // Change this URL to your verification page URL
  } catch (error) {
    console.error('Sign-up error:', error);
   
  }
});
    </script>
</body>
</html>

